{# Les financeurs sont à configurer dans le fichier _data/financeurs.json #}
{# Ils sont affichés dans l'ordre où ils sont déclarés dans ce fichier #}
{# Pour valider la syntaxe JSON, on peut utiliser https://jsonlint.com/ #}

<h2 class="h3">Ils nous soutiennent</h2>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  {%- for sponsor in financeurs -%}
    <figure class="col mx-auto">
      <div class="h-100 d-flex">
        {%- if sponsor.link -%}
          <a href="{{ sponsor.link }}" class="my-auto">
            {%- image sponsor.img, sponsor.name, { class: "img-fluid my-auto" } -%}
          </a>
        {%- else -%}
          {%- image sponsor.img, sponsor.name, { class: "img-fluid my-auto" } -%}
        {%- endif -%}
      </div>
    </figure>
  {%- endfor -%}
</div>

L'action de Solstice est cofinancée par l'Union européenne avec le Fonds Social Européen (<abbr>FSE</abbr>).
