<footer class="footer" id="footer">
  <div class="container-lg border-top py-3">
    <ul class="list-unstyled row">
      <li class="col-6 col-md-4 col-lg">
        <a href="{{ '/credits/' | url }}" class="icon-link link-body-emphasis underline-hover">
          <i class="fas fa-address-card" aria-hidden="true"></i>
          Crédits
        </a>
      </li>
      <li class="col-6 col-md-4 col-lg">
        <a href="{{ '/mentions-legales/' | url }}" class="icon-link link-body-emphasis underline-hover">
          <i class="fas fa-gavel" aria-hidden="true"></i>
          Mentions légales
        </a>
      </li>
      <li class="col-6 col-md-4 col-lg">
        <a href="{{ '/protection-des-donnees/' | url }}" class="icon-link link-body-emphasis underline-hover">
          <i class="fas fa-eraser" aria-hidden="true"></i>
            Protection des données
        </a>
      </li>
      <li class="col-6 col-md-4 col-lg">
        <a href="https://www.linkedin.com/company/solstice---coop-rative-d'entrepreneurs/" class="icon-link link-body-emphasis underline-hover" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-linkedin" aria-hidden="true"></i>
          LinkedIn
        </a>
      </li>
      <li class="col-6 col-md-4 col-lg">
        <a href="{{ '/contact/' | url }}" class="icon-link link-body-emphasis underline-hover">
          <i class="fas fa-envelope" aria-hidden="true"></i>
          Contact
        </a>
      </li>
    </ul>
  </div>
</footer>
