<nav class="skiplinks" aria-label="Liens d'évitement">
  <ul>
    <li><a class="visually-hidden-focusable" href="#nav">Accéder à la navigation</a></li>
    <li><a class="visually-hidden-focusable" href="#main">Accéder au contenu</a></li>
    <li><a class="visually-hidden-focusable" href="#footer">Accéder au pied de page</a></li>
  </ul>
</nav>
