.breadcrumb {
  margin-left: 0;
  li {
    margin-bottom: .3em;
    padding: 0 $navbar-nav-link-padding-x; // Align with first menu item
    & + li:before {
      font-family: sans-serif;
    }
  }
  a {
    white-space: break-spaces;
    &[aria-current="page"] {
      text-decoration: none;
    }
  }
}
