// 1. Load Bootstrap functions
@import "scss/functions";

// 2. Override Bootstrap variables
$enable-shadows: true;
$enable-gradients: true;
$enable-negative-margins: true;

// Used by alert-info cards
$info: #3e8ed0;
$primary: #2B7F7C;
$primary-decoration: #3DB5AF;
$red: #FF3C50;
$yellow: #ffc600;
$black: #000;

// Import Quicksand
@font-face {
  font-family: Quicksand;
  font-weight: 100 1000;
  font-style: normal;
  src: local("Quicksand"),
    url("fonts/Quicksand-VariableFont_wght.woff2") format("woff2"),
    url("fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}

// Reduce headings size
$display-font-sizes: (
  1: 2rem,
  2: 1.75rem,
  3: 1.5rem,
  4: 1.25rem,
  5: 1.15rem,
  6: 1rem
);


// Breadcrumb styles
$breadcrumb-divider: "\2192";
$breadcrumb-divider-color: var(--bs-gray-400);

// 3. Load default Bootstrap variables
@import "scss/variables";
@import "scss/variables-dark";

// 4. Override Bootstrap maps
$utilities: (
  // Make width utility responsive
  "width": (
    property: width,
    class: w,
    responsive: true,
    values: (
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto,
    ),
  ),
);
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 860px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 860px
);

// Set Quicksand as default font site-wide
$font-family-base: join(Quicksand, $font-family-sans-serif);

// 5. Load required Bootstrap parts
@import "scss/maps";
@import "scss/mixins";
@import "scss/root";
@import "scss/utilities";

// 6. Load optional components
@import "scss/root";
@import "scss/reboot";
@import "scss/type";
@import "scss/images";
@import "scss/containers";
@import "scss/grid";
@import "scss/tables";
@import "scss/forms";
@import "scss/buttons";
@import "scss/transitions";
@import "scss/dropdown";
@import "scss/button-group";
@import "scss/nav";
@import "scss/navbar";
@import "scss/card";
@import "scss/accordion";
@import "scss/breadcrumb";
@import "scss/pagination";
@import "scss/badge";
@import "scss/alert";
@import "scss/progress";
@import "scss/list-group";
@import "scss/close";
@import "scss/toasts";
@import "scss/modal";
@import "scss/tooltip";
@import "scss/popover";
@import "scss/carousel";
@import "scss/spinners";
@import "scss/offcanvas";
@import "scss/placeholders";
@import "scss/helpers";

// 7. Generate utility classes
@import "scss/utilities/api";
