.form {
  background-color: $gray-200;
  border-radius: $border-radius * 2;
  padding: 2rem;
}
.label:first-letter {
  text-transform: capitalize;
}

.form-group {
  margin-bottom: $spacer;
}
// Make legends look like labels
legend {
  font-size: 1rem !important;
}
.label {
  font-weight: bold;
  &:first-letter {
    text-transform: capitalize;
  }
  &.required::after {
    content: "*";
    font-size: 1.1em;
    font-weight: bold;
    color: $red;
    margin-left: 0.1em;
    vertical-align: middle;
  }
}

// Allow showing alert/confirmation message using JS
.d-none:target {
  display: block !important;
}
// Show spinner when submitting
.btn.submitting .fa-spinner {
  display: inline-block !important;
}
