---
title: Recherche
eleventyExcludeFromCollections: true
scripts:
  - /js/controllers/search.js
---

<h1>Recherche</h1>

<form method="get" class="input-group mb-5" id="search-form">
  <label for="search-field" class="visually-hidden">Mots-clés</label>
  <input class="form-control rounded-start" type="search" id="search-field" name="q" autocomplete="off" autofocus="true" />
  <button type="submit" class="btn btn-primary" aria-labelledby="#filter">
    <i class="fas fa-search me-1" aria-hidden="true"></i>
    <span class="d-none d-md-inline" id="filter">Chercher</span>
  </button>
</form>

<div id="search-empty" class="alert alert-info d-none" role="alert" tabindex="-1">
  <div class="alert-body">
    Désolé, cette recherche ne correspond à aucune page du site.
    <br />Veuillez essayer avec d'autres mots-clés.
  </div>
</div>

<div id="results"></div>

<template id="result-template">
  <article class="card shadow-hover mb-3">
    <div class="card-body">
      <h2 class="h3 mb-2"><a href="__URL__" class="stretched-link">__TITLE__</a></h2>
      <p class="mb-1"><strong>https://solstice.coop__URL__</strong></p>
      <p class="mb-1">
        __CONTENT__
      </p>
    </div>
  </article>
</template>

<script type="application/json" id="search-data">
[
  {%- for page in collections.all %}
  {
    "url": "{{ page.url | url }}",
    "title": "{{ page.data.title | striptags | replace('"', '\"') | replace("&#39;", "'") | trim }}",
    "content": "{{ page.templateContent | replace("<br>", "\n")  | replace("</li>", "\n") | striptags | replace("&#39;", "'") | replace("&quot;", "“") | replace("&amp;", "et") | nl2br | trim }}"
  }{% if loop.last == false %},{% endif -%}
  {% endfor -%}
]
</script>
